<a href="https://colab.research.google.com/github/31231023250/ex2_scientific1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Định dạng của đoạn này là mã
```

In [18]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [17]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [16]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [15]:
# BMI Calculator cho chiều cao 165cm, cân nặng 57kg

height_cm = 165
weight_kg = 57

height_m = height_cm / 100
BMI = weight_kg / (height_m ** 2)

print("Chiều cao:", height_cm, "cm")
print("Cân nặng:", weight_kg, "kg")
print("Chỉ số BMI của bạn là:", round(BMI, 1))

Chiều cao: 165 cm
Cân nặng: 57 kg
Chỉ số BMI của bạn là: 20.9

In [14]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [13]:
# int
x = 2
print(x, type(x))

# float
y = 3.4
print(y, type(y))

# complex
z = 7j + 3.5
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3.5+7j) <class 'complex'>

In [12]:
x = str(3)      # số -> chuỗi
y = int(4.3)    # số thực -> số nguyên
z = float(3)    # số nguyên -> số thực

print(x, type(x))   # "3" <class 'str'>
print(y, type(y))   # 4 <class 'int'>
print(z, type(z))   # 3.0 <class 'float'>

3 <class 'str'>
4 <class 'int'>
3.0 <class 'float'>

In [11]:
# list
x = ['apple', 'banana', 'cherry']
x.append('hello')
print(x, type(x), x[1:3])

# tuple
x = ('apple', 'banana', 'cherry')  # immutable
# x.append('hello')  # không được
x = ('apple', 'banana', 'cherry', 'hello')
print(x, type(x), x[1:3])

# dictionary
x = {'name': 'Tome', 'age': 20}  # dictionary
print(x, type(x), x['name'], x['age'])

# set
x = {'apple', 'banana', 'cherry'}  # set
x.add('hello')
print(x, type(x))

# frozenset
x = frozenset({'apple', 'banana', 'cherry'})  # frozenset
print(x, type(x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tome', 'age': 20} <class 'dict'> Tome 20
{'hello', 'apple', 'cherry', 'banana'} <class 'set'>
frozenset({'apple', 'cherry', 'banana'}) <class 'frozenset'>

In [8]:
x = 'Hello, World'
print(x, type(x))

x = 2
print(x, type(x))

x = 2.5
print(x, type(x))

x = 7j
print(x, type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [7]:
x = 2
y = x + 1
print(x, y)

2 3

In [6]:
# Python variables

x = 2
price = 2.5
word = 'Hello'

# Thử nhiều cách viết chuỗi
word = 'Hello'
word = "Hello"
word = '''Hello'''

# In ra giá trị và kiểu dữ liệu
print(x, price, word)
print(f"x = {x, type(x)}, price={price, type(price)}, word={word, type(word)}")

2 2.5 Hello
x = (2, <class 'int'>), price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [4]:
score = 80
if score >= 60:
    print("Pass")
else:
    print("Fail")

Pass

In [2]:
pv = 100
r = 0.1
n = 7

fv = pv * ((1 + r) ** n)
print(round(fv, 2))

194.87

In [1]:
print("Hello, World!")

Hello, World!